* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff9900;
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    flex: 1;
    max-width: 500px;
    margin: 10px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.nav-links span {
    display: block;
    font-size: 12px;
}

.cart {
    font-weight: bold;
}

/* MENU */
.menu {
    background-color: #232f3e;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* HERO SECTION */
.hero {
    background: url("https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-4.0.3&auto=format&fit=crop&w=1080&q=80") center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 25px;
    background-color: #eaeaea;
    
}

.product {
    display: grid;
    grid-template-rows:auto min-content auto;
    background-color: white;
    padding: 46px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 100px;
}



.product p {
    font-weight: bold;
    margin-bottom: 15px;
}

.product button {
    background-color: #ffd814;
    border: 1px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
   font-size: 14px;    
}

/* FOOTER */

footer {
    background-color: #232f3e;
    color: white;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    line-height: 1.6;
}

/* ===================== */
/* RESPONSIVE QUERIES */
/* ===================== */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar {
        width: 100%;
        max-width: none;
    }

    .nav-links {
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menu {
        justify-content: center;
    }

    .menu a {
        font-size: 15px;
        margin-right: 12px;
    }
}